
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div id="map-canvas"></div>





<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATxKsehqFnklUbc-EX8sp48vtzAbJvhec"></script>
<script type="text/javascript" src="~/Scripts/MapCreator.js"> </script>